body, select, input, textarea {
  color: #333;
  font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 4em;
    padding-bottom: .5em;
}

a, a:active, a:visited {
    color: #607890;
}

a:hover {
    color: #036;
}

:focus {

}

nav ul {
    list-style-type: none;
}

nav li {
    padding-left: .25em;
    margin-bottom: .5em;
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    background-color: #f9f9f9;
}

nav li:hover {
    background-color: #c40022;
    color: #fff;
}

nav a {
    font-size: 2em;
    text-decoration: none;
    background-color: #c40022;
    padding: .125em;
    color: #f5f5f5;
    display: block;
    border-radius: 0px 6px 6px 0px;
}

nav .current {
    width: 101%;
    border-radius: 0em 2em 2em 0em;
}

nav .current a:first-child {
   border-radius: 0em 1em 1em 0em;
   color: #fff;
}

nav a:visited {
    color: #f5f5f5;
}

nav a:hover {
    color: #fff;
}

nav a:active {
    color: #fff;
}

.nodisplay {
    display: none;
}

.content {
    border-left: .25em solid #c40022;
    padding-left: .25em;
    margin-left: -.25em;
    min-height: 20em;
}

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */

@media print {

* {
    background: transparent !important;
    color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
    text-shadow: none !important; filter:none !important;
    -ms-filter: none !important;
}

a, a:visited {
    color: #444 !important;
    text-decoration: underline;
}

a[href]:after {
    content: " (" attr(href) ")";
}

abbr[title]:after {
    content: " (" attr(title) ")";
}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}  /* Don't show links for images, or javascript/internal links */

pre, blockquote {
    border: 1px solid #999; page-break-inside: avoid;
}

thead {
    display: table-header-group;
} /* css-discuss.incutio.com/wiki/Printing_Tables */

tr, img {
    page-break-inside: avoid;
}

@page {
    margin: 0.5cm;
}

p, h2, h3 {
    orphans: 3; widows: 3;
}

h2, h3 {
    page-break-after: avoid;
}

}

